@import (reference) './mixins.less';

.default-font() {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
}

.defaultNssFont() {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
}

.ux-font-family-sans-serif {
  font-family: Tahoma, "DejaVu Sans Condensed", "DejaVu Sans", "Nimbus Sans L", Arial, sans-serif;
}
.ux-font-family-monospace {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}
