/* themeLucid palette */

@bg-color: #ebe9d8;
@fg-color: #3d3d3d;
@primary: #105ccd;
@secondary-1: #3d3d3d;
@secondary-2: #696f79;
@neutral-1: #f9f9f9;
@neutral-2: #ebe9d8;
@neutral-3: #d9e8ff;
@neutral-4: #b0cbf5;
@neutral-5: #9d9e95;

@context-menu-bg: #ffffff;
@context-menu-border-color: #9d9e95;
@context-menu-disabled-fg: #a7a8a0;
@context-menu-fg: #3d3d3d;

@disabled-bg-color: #f2f2f2;
@disabled-fg-color: #777777;
@modified-color: #e71919; //mark a field as dirty
@selection-background-color: #306bc2;

@ux-button-background: linear-gradient(315deg, #b0cbf5, #d9e8ff);
@ux-button-outline: #3f4038;
@ux-button-toolbar-hover-outline: #9c9395;
@ux-button-toolbar-hover-highlight: #ebe9d8;
@ux-button-toolbar-hover-shadow: #ebe9d8;
@ux-button-disabled-color: #848687;
@ux-button-disabled-shadow: #f9fae8;
@ux-tabbedPane-border-color: #000000;
@ux-tabbedPane-selected-background-color: #ebe9d8;
@ux-tabbedPane-unselected-background-color: #cdcfbe;
@ux-splitPane-divider-background: @neutral-2;
